@import "tailwindcss";

@layer base {
  :root {
    --color-bg_primary: #fbfff7;
    font-family: "Pretendard Variable", sans-serif;
  }

  document {
  }
}

@layer utilities {
  @keyframes infinite-scroll-vertical {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-50%);
    }
  }

  .animate-infinite-scroll-vertical {
    animation: infinite-scroll-vertical 25s linear infinite;
  }
}
