@import "tailwindcss";

@layer base {
  :root {
    --color-bg_primary: #fbfff7;
    font-family: "Pretendard Variable", sans-serif;
  }

  document {
  }
}

@layer utilities {
  @keyframes infinite-scroll-vertical {
    0% {
      transform: translateY(20%);
    }
    50% {
      transform: translateY(-45%);
    }
    100% {
      transform: translateY(10%);
    }
  }

  .animate-infinite-scroll-vertical {
    animation: infinite-scroll-vertical 25s linear infinite;
  }
}
